TRINO_HOST=trino.dataiesb.com
TRINO_PORT=443
TRINO_USER=admin
TRINO_PASSWORD=coloque_a_senha_localmente
TRINO_CATALOG=seaweedfs
TRINO_SCHEMA=raw
TBL_PROGRAMAS=seaweedfs.raw.capes_sucupira_programas_pos